@inject NavigationManager nvgMgr;
@using System.Globalization;

@page "/"

<style>
	.wrapper {
		width: 100%;
		border-radius: 20px;
		background-color: #b5a78f;
		min-height: 120px;
		display: flex; 
		justify-content: center;
		align-items: center;
	}

	fieldset {
		margin: 10px;
		margin-bottom: 20px;
	}

	legend {
		font-size: 12px !important;
	}

	button {
		border: none;
		border-radius: 10px;
		padding: 5px 10px 5px 10px;
		background-color: #302b22;
		color: white;
	}

	.active-button {
		background-color: #561d7e;
	}
</style>

<div style="width: 100%; background-color: #302b22; display: flex; flex-direction: column; gap: 20px; align-items: center; padding: 25px;">
	<div id="image" class="wrapper" style="min-height: 420px;">
		@if (!string.IsNullOrEmpty(_sprite))
		{
			<img src="@_sprite" style="width: 420px; image-rendering: pixelated;" />
		}
	</div>
	<div id="generate" class="wrapper">
		<button @onclick="GenerateMonsterSprite" style="width: 200px; height: 64px; display: flex; align-items: center; justify-content: center;">Generate</button>
	</div>
	<div id="settings" class="wrapper" style="display: block;">
		<fieldset>
			<legend>Dimensions (e.g. 64x64px)</legend>
			<button @onclick="(() => _settings.Dimension = 32)" class="@(_settings.Dimension == 32 ? "active-button" : "")">32px</button>
			<button @onclick="(() => _settings.Dimension = 48)" class="@(_settings.Dimension == 48 ? "active-button" : "")">48px</button>
			<button @onclick="(() => _settings.Dimension = 64)" class="@(_settings.Dimension == 64 ? "active-button" : "")">64px</button>
			<button @onclick="(() => _settings.Dimension = 128)" class="@(_settings.Dimension == 128 ? "active-button" : "")">128px</button>
		</fieldset>
		<fieldset>
			<legend>Form</legend>
			<button @onclick="(() => _settings.NoiseStyle = Classes.NoiseStyle.Blobby)" class="@(_settings.NoiseStyle == Classes.NoiseStyle.Blobby ? "active-button" : "")">Blobby</button>
			<button @onclick="(() => _settings.NoiseStyle = Classes.NoiseStyle.Balanced)" class="@(_settings.NoiseStyle == Classes.NoiseStyle.Balanced ? "active-button" : "")">Balanced</button>
			<button @onclick="(() => _settings.NoiseStyle = Classes.NoiseStyle.Detailed)" class="@(_settings.NoiseStyle == Classes.NoiseStyle.Detailed ? "active-button" : "")">Detailed</button>
			<button @onclick="(() => _settings.NoiseStyle = Classes.NoiseStyle.Random)" class="@(_settings.NoiseStyle == Classes.NoiseStyle.Random ? "active-button" : "")">Random</button>
		</fieldset>
		<fieldset>
			<legend>Colors 1</legend>
			<button @onclick="(() => _settings.ColorStyle = Classes.ColorStyle.Harmonious)" class="@(_settings.ColorStyle == Classes.ColorStyle.Harmonious ? "active-button" : "")">Harmonious</button>
			<button @onclick="(() => _settings.ColorStyle = Classes.ColorStyle.RandomAccent)" class="@(_settings.ColorStyle == Classes.ColorStyle.RandomAccent ? "active-button" : "")">Random Accent</button>
			<button @onclick="(() => _settings.ColorStyle = Classes.ColorStyle.RandomDarken)" class="@(_settings.ColorStyle == Classes.ColorStyle.RandomDarken ? "active-button" : "")">+ Random Patterns</button>
			<button @onclick="(() => _settings.ColorStyle = Classes.ColorStyle.RandomOutline)" class="@(_settings.ColorStyle == Classes.ColorStyle.RandomOutline ? "active-button" : "")">+ Random Outline</button>
		</fieldset>
		<fieldset>
			<legend>Number of Colors (@_settings.numberOfColors)</legend>
			<input type="range" min="1" max="8" @bind="_settings.numberOfColors" />
		</fieldset>
		<fieldset>
			<legend>Colors 2 (not tested)</legend>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.Monochrome)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.Monochrome ? "active-button" : "")">Monochrome</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.Analogous)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.Analogous ? "active-button" : "")">Analogous</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.Complementary)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.Complementary ? "active-button" : "")">Complementary</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.SplitComplementary)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.SplitComplementary ? "active-button" : "")">Split Complementary</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.Triadic)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.Triadic ? "active-button" : "")">Triadic</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.TwoToneRandom)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.TwoToneRandom ? "active-button" : "")">Two Tone Random</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.SoftStripes)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.SoftStripes ? "active-button" : "")">SoftStripes</button>
			<button @onclick="(() => _settings.paletteMode = AutoSpriteCreator.PaletteMode.Random)" class="@(_settings.paletteMode == AutoSpriteCreator.PaletteMode.Random ? "active-button" : "")">Random Scheme</button>
		</fieldset>
		<fieldset>
			<legend>Generator Type</legend>
			<button @onclick="(() => _settings.Generator = 0)" class="@(_settings.Generator == 0 ? "active-button" : "")">Old</button>
			<button @onclick="(() => _settings.Generator = 1)" class="@(_settings.Generator == 1 ? "active-button" : "")">New (Animated)</button>
		</fieldset>
		<fieldset>
			<legend>Patterns (random lines, currently ugly)</legend>
			<button @onclick="(() => _settings.DrawPatterns = false)" class="@(_settings.DrawPatterns == false ? "active-button" : "")">No</button>
			<button @onclick="(() => _settings.DrawPatterns = true)" class="@(_settings.DrawPatterns == true ? "active-button" : "")">Yes</button>
		</fieldset>
		<fieldset>
			<legend>Margin</legend>
			<input type="range" min="0" max="12" @bind="_settings.Margin" />
		</fieldset>
		<fieldset>
			<legend>Seed (when yes: same seed + settings yield same monster)</legend>
			<button @onclick="(() => _settings.UseSeed = false)" class="@(_settings.UseSeed == false ? "active-button" : "")">No</button>
			<button @onclick="(() => _settings.UseSeed = true)" class="@(_settings.UseSeed == true ? "active-button" : "")">Yes</button>
			<input type="number" @bind="_settings.Seed" disabled="@(!_settings.UseSeed)" style="border-radius: 10px; width: 140px; padding: 4px 10px;" />
		</fieldset>
		<br />
		<fieldset>
			<legend>Number of Frames (@_settings.FrameCount)</legend>
			<input type="range" min="1" max="16" @bind="_settings.FrameCount" />
		</fieldset>
		<fieldset>
			<legend>Animation Speed (Duration of 1 Frame in ms, (@(_settings.FrameDelayInMs)ms))</legend>
			<input type="range" min="20" max="200" @bind="_settings.FrameDelayInMs" />
		</fieldset>
		<fieldset>
			<legend>Intensity of Animation (@_settings.AnimationIntesity)</legend>
			<input type="range" min="0.2" max="4" step="0.1" @bind="_settings.AnimationIntesity" @bind:culture="CultureInfo.InvariantCulture" />
		</fieldset>
	</div>

	<div id="navigation" class="wrapper" style="margin-top: 50px;">
		<button @onclick="NavigateToPalette" style="width: 200px; height: 48px; display: flex; align-items: center; justify-content: center;">Color Palette Generator</button>
	</div>
</div>




